select, ::picker(select) {
  appearance: base-select;
}

select {
  border: 2px solid #000;
  height: 30px;
  width: 100px;
}

select::picker-icon {
  transition: 0.5s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}